*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sora';
}

ul {
  list-style: none;
}

img {
  height: 100%;
  object-fit: cover;
  inline-size: 100%;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-inline-size: 100%;
  padding-inline: 80px;
}
