.section {
  padding-block: 60px;
}

.container {
  max-inline-size: 100%;
  padding-inline: 80px;
}

.dark {
  background-color: var(--primary-black);
}

.dark * {
  color: var(--primary-white);
}

.padding-block-24 {
  padding-block: 24px;
}
